@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Sora', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-inter: "Inter", sans-serif;

    --color-primary-400: #7768e5;
    --color-primary-500: #674df0;
    --color-primary-600: #573de0;

    --color-secondary-400: #3ff1bb;
    --color-secondary-500: #2fc7a1;
    --color-secondary-600: #1eb791;

    --color-surface-800: #333931;
    --color-surface-900: #1f2321;
    --color-surface-950: #0B0B0B;
}
